#**MATALA 3 - fetching data by api**
##**Noa Nesher**
###**ID: 318879533**

In [12]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')
import requests
import json

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
path = '/content/drive/MyDrive/data/'
fileNAME ='dests.txt'
with open(path+ fileNAME, 'r') as f:
    destinations = f.read().splitlines()

In [33]:
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration(hour+minutes)', 'Longitude', 'Latitude'])

In [34]:
for dest in destinations:
    response = requests.get(f'https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Tel+Aviv&destinations={dest}&key=AIzaSyDajtUhPgYtbEyNgSTXdZQfiY5HUeihzLQ')
    data = response.json()

    distance_km = data['rows'][0]['elements'][0]['distance']['value'] / 1000
    duration_seconds = data['rows'][0]['elements'][0]['duration']['value']
    duration_hours = duration_seconds // 3600
    duration_minutes = (duration_seconds % 3600) // 60
    duration = f'{duration_hours}h {duration_minutes}m'

    response = requests.get(f'https://maps.googleapis.com/maps/api/geocode/json?address={dest}&key=AIzaSyDajtUhPgYtbEyNgSTXdZQfiY5HUeihzLQ')
    data = response.json()

    longitude = data['results'][0]['geometry']['location']['lng']
    latitude = data['results'][0]['geometry']['location']['lat']

    df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

<ipython-input-34-29c01f5b264b>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-34-29c01f5b264b>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-34-29c01f5b264b>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-34-29c01f5b264b>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)
<ipython-input-34-29c01f5b264b>:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Target': dest, 'Distance_km': distance_km, 'Duration(hour+minutes)': duration , 'Longitude': longitude, 'Latitude': latitude}, ignore_index=True)

**The DataFrame:**

In [35]:
df

      Target  Distance_km Duration(hour+minutes)  Longitude   Latitude
0   Istanbul     1815.227                 21h 2m  28.978359  41.008238
1  Amsterdam     4532.541                 48h 3m   4.904139  52.367573
2   Valletta     3792.883                50h 51m  14.514100  35.899237
3      Basel     4092.804                 44h 2m   7.588576  47.559599
4       Doha     2164.477                22h 38m  51.531040  25.285447

**The 3 cities furthest from Tel Aviv:**

In [36]:
df = df.sort_values(['Distance_km']).reset_index(drop=True)
print(df['Target'][2:].tolist())

['Valletta', 'Basel', 'Amsterdam']